<html>
<body>

<div class="filterModel">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="topnav">
            
            <div class="search-container nav-item mx-0 mx-lg-1">
                <h2>Recipe Filter Options <span class="close">&times;</span></h2>
                <form action="/explore" method="POST">
                    <div style="display: flex;flex-direction:row;justify-content:space-between">
                        <input type="radio" id="andTags" name="tagOperation" value="AND">
                        <label for="andTags">include all tags</label>
                        <div style="width: 60px;"></div>
                        <input type="radio" id="orTags" name="tagOperation" value="OR">
                        <label for="orTags">include any tag(s)</label><br>
                    </div>
                    <input type="text" class="form-control" style="border-radius:5px; margin-bottom:5px" placeholder="Tags" name="tags">
                    <input type="number" class="form-control" style="border-radius:5px" placeholder="Stars" name="stars">
                    <div style="display: flex;flex-direction:row;justify-content:space-between">
                        <input type="radio" id="tagsAndStars" name="tagAndStarOperation" value="AND">
                        <div style="width: 10px;"></div>
                        <label for="tagsAndStars">match recipes having both the specified tags and stars</label>
                        <div style="width: 10px;"></div>
                        <input type="radio" id="tagsOrStars" name="tagAndStarOperation" value="OR">
                        <label for="tagsOrStars">match recipes either specified tags or stars</label>
                    </div>
                    <button type="submit" style="background-color:lightseagreen;border-radius:5px">Filter</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="findUserModel">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="topnav">
            <div class="search-container nav-item mx-0 mx-lg-1">
                <h2>Search Users Similar to Your Ratings for recipes with: <span class="close">&times;</span></h2>
                <form action="/findusers" method="POST">
                    <input type="text" class="form-control" style="border-radius:5px" placeholder="Tag" name="tag" id="tag" onkeyup="allowThisFieldOnly(this.name)">
                    <input type="text" class="form-control" style="border-radius:5px" placeholder="Ingredient" name="ingredient" id="ingredient" onkeyup="allowThisFieldOnly(this.name)">
                    <input type="text" class="form-control" style="border-radius:5px" placeholder="Recipe Name" name="recname" id="recname" onkeyup="allowThisFieldOnly(this.name)">
                    <button type="button" style="border-radius:5px" onclick="clearFields()">Clear</button>
                    <button type="submit" style="background-color:lightseagreen;border-radius:5px">Find</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var modal = document.getElementsByClassName("filterModel")[0];

    // Get the button that opens the modal
    var btn = document.getElementById("searchFilter");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    var modal2 = document.getElementsByClassName("findUserModel")[0];

    // Get the button that opens the modal
    var btn2 = document.getElementById("findUsers");

    // Get the <span> element that closes the modal
    var span2 = document.getElementsByClassName("close")[1];

    // When the user clicks the button, open the modal 
    btn2.onclick = function () {
        modal2.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span2.onclick = function () {
        modal2.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
    }

    function allowThisFieldOnly(field) {
        console.log(field);
        var value = document.getElementById(String(field)).value;
        var rec = document.getElementById("recname");
        var tag = document.getElementById("tag");
        var ing = document.getElementById("ingredient");
        if (value.length > 0) {
            if(field=="tag"){
                rec.style.display="none";
                ing.style.display="none";
            }
            if(field=="ingredient"){
                rec.style.display="none";
                tag.style.display="none";
            }
            if(field=="recname"){
                ing.style.display="none";
                tag.style.display="none";
            }
        } else{
            rec.style.display="block";
            tag.style.display="block";
            ing.style.display="block";
        }
    }

    function clearFields(){
        var rec = document.getElementById("recname");
        var tag = document.getElementById("tag");
        var ing = document.getElementById("ingredient");
        rec.style.display="block";
        tag.style.display="block";
        ing.style.display="block";
        rec.value="";
        tag.value="";
        ing.value="";
    }
</script>
</body>
</html>